.wrapper {
  margin: 0 auto;
  padding: 10px;
  width: 1300px;
}

.round-div {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: solid;
  border-color:  #dddddd;
  border-width: 1px 0px 1px 0px;
}

.snapshop-container {
  width:100%;
  overflow: hidden;   
}

.snapshop-left {
  float: left;
  width: 55%;  
  margin-right: 10px;
}

.snapshop-right {
  height: inherit;
  margin-left: 20px;
  overflow: hidden;  
}

.details-popup {
  
  border-style: solid;
  border-color:  #dddddd;
  border-width: 1px 0px 0px 0px;
  height: inherit;
  font-size: 11px;
  font-family: Verdana; 
}

.details-outpan {
  box-shadow: 1px 5px 10px -2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  margin-right: 10px;
  margin-bottom : 10px;
}

.details-container {
  border-style: dashed;
  border-color:  darkgray;  
  margin-top: 2px;
  padding-left: 5px;   
}

.details-value-p {
  padding-left: 5px;
  padding-right: 5px;
}

.resourceinfo-table {
  border: 0px #F0F0F0 solid;
  font-size: 11px;
  font-family: verdana;
  vertical-align: top;
  border-collapse: collapse;
}

.resourceinfo-table tbody tr {
  vertical-align : top;
  text-align : left; 
  border: 0px #F0F0F0 solid;
  padding: 0px 4px 0px 4px;  
}

.resourceinfo-table tbody tr:nth-child(odd) {
  background-color: white;
}

.resourceinfo-table tbody tr:nth-child(even) {
  background-color: #F7F7F7;
}

.resourceinfo-table tbody tr:hover {
  background-color: #CCE7E7;
}

.resourceinfo-header {
  border: 0px #F0F0F0 solid;
  border-width: 1px 0px;
  font-size: 11px;
  font-family: verdana;
  vertical-align: top;
  border-collapse: collapse;
}

.nav-tabs {
  border-bottom: 0px;
}


